{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'CSS/base.css' %}" rel="stylesheet">
</head>
<body>
    <div id="header">
        <span class="logo">Bookmarks</span>
        {% if request.user.is_authenticated %}
            <ul class="menu">
            <li {% if section == "dashboard" %}class="selected"{% endif %}>
            <a href="{% url 'account:dashboard' %}">Panel główny</a>
            </li>
            <li {% if section == "images" %}class="selected"{% endif %}>
            <a href="#">Zdjęcia</a>
            </li>
            <li {% if section == "people" %}class="selected"{% endif %}>
            <a href="#">Osoby</a>
            </li>
            </ul>
        {% endif %}
        <span class="user">
            {% if request.user.is_authenticated %}
                Witej {{ request.user.first_name|default:request.user.username }},
                <a href="{% url 'account:logout' %}">Wyloguj</a>
            {% else %}
                <a href="{% url 'account:login' %}">Zaloguj</a>
            {% endif %}
        </span>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>